li {
    list-style-type: none;
    margin-bottom: 10px;
  }
  
  ul {
    padding: 0;
  }
  
  ul ul {
    margin-left: 20px;
    padding: 0;
    border: none;
  }
  
  button {
    margin-left: 10px;
  }