/* src/App.css */

/* Global reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #F5F5F5; /* Light background */
  font-family: 'Arial', sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  background-color: #F5F5F5; /* Same color as the page background */
  border: none; /* Remove any borders */
  padding: 10px; /* Optional: Add some padding */
  width: 100%; /* Make the header full width */
  display: flex;
  align-items: center; /* Center items vertically */
  justify-content: flex-start; /* Align items to the left */
}

.App-logo {
  width: 80px; /* Increase width as desired */
  height: auto; /* Maintain aspect ratio */
  margin-right: 20px; /* Space between logo and title */
}


.container { 
  flex: 1; /* Allow the container to grow and fill available space */
  display: flex; 
  flex-direction: column; /* Stack elements vertically */
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
}

h2 {
  color: #C94A31; /* Tomato Red */
}

button {
  background-color: #6B8E23; /* Basil Green */
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s; /* Smooth transition */
}

button:hover {
  background-color: #C94A31; /* Tomato Red */
}

@media (max-width: 600px) {
  h2 {
    font-size: 1.5em; /* Adjust font size for smaller screens */
  }

  button {
    padding: 8px 12px; /* Adjust padding for smaller buttons */
  }
}
